<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linklab.emmanuelogunjirin.besi_c">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" /> <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application
        android:name=".EODTimerService"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" >
        </uses-library>


        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" >
        </meta-data>

        <meta-data
            android:name="android.service.wallpaper"
            android:resource="@xml/watch_face" >
        </meta-data>

        <meta-data
            android:name="com.google.android.wearable.watchface.preview"
            android:resource="@drawable/preview_digital" >
        </meta-data>

        <meta-data
            android:name="com.google.android.wearable.watchface.preview_circular"
            android:resource="@drawable/preview_digital_circular" >
        </meta-data>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" >
        </meta-data>


        <intent-filter>
            <action android:name="android.service.wallpaper.WallpaperService" />
            <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
        </intent-filter>

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>


        <service
            android:name=".HeartRateSensor" >
        </service>

        <service
            android:name=".AccelerometerSensor" >
        </service>

        <service
            android:name=".HRTimerService" >
        </service>

        <service
            android:name=".BESIWatchFace"
            android:label="BESI-Cancer"
            android:permission="android.permission.BIND_WALLPAPER" >
        </service>

        <service
            android:name=".PedometerSensor"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" >
        </service>


        <activity
            android:name=".FollowUpEMA" >
        </activity>

        <activity
            android:name=".PainEMA" >
        </activity>

        <activity
            android:name=".EndOfDayEMA" >
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".EndOfDayPrompt"
            android:label="@string/title_activity_end_of_day_prompt">
        </activity>

        <activity
            android:name=".EndOfDayPrompt2"
            android:label="@string/title_activity_end_of_day_prompt">
        </activity>

        <activity
            android:name=".EndOfDayPrompt3"
            android:label="@string/title_activity_end_of_day_prompt">
        </activity>

        <activity
            android:name=".PainScreen"
            android:label="@string/title_activity_pain_screen" >
        </activity>

    </application>

</manifest>